.episode-detail-page-container {
    margin: 4vmin;
    display: flex;

}

.episode-list {
    font-size: 3vmin;
    color: rgb(34, 122, 230);
    margin-left: 4vmin;
    text-decoration: underline;
}

.episode-list:hover {
    cursor: pointer;
}

