.pagination-container {
    margin: 0 auto 4vmin auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 92%;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3vmin;
    border-radius: 50%;
    width: 5vmin;
    height: 5vmin;
    background-color: rgb(155, 220, 59);
    text-align: center;
    border: none;
    font-family: 'Bowlby One SC';
    color: rgb(101, 99, 99);
}

.pagination-button:hover {
    cursor: pointer;
}

i {
    margin: 0.3vmin;
    width: 50px;
    width: 50px;
    color: rgb(155, 220, 59);
}

.pagination-button-clicked {
    color: white;
}