.hidden {
    display: none;
}

.location-detail-page-container {
    margin: 4vmin;
    display: flex;

}

.location-list {
    font-size: 3vmin;
    color: rgb(34, 122, 230);
    margin-left: 4vmin;
    text-decoration: underline;
}

.location-list:hover {
    cursor: pointer;
}

.location-grid {
    margin: 0 4vmin;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1vmin;
}

.location-list-item {
    text-decoration: none;
}

.location-list-item:hover {
    cursor: pointer;
}

.episode-image {
    width: 12vmin;
    height: 12vmin;
    border-radius: 50%;
}

@media screen and (max-width: 1400px) {
    .location-grid {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .location-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .location-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}